.folderCard {
  background: rgb(82, 82, 82);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 30px;
  cursor: pointer;
  transition: background 0.3s ease, border 0.3s ease;
  font-family: 'poppins', sans-serif;
}

.folderCard:hover {
  background: rgb(65, 64, 64);
}

.folderName {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
}

.topRight {
  position: absolute;
  right: 5px;
}

.deleteButton {
  background: transparent;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.deleteButton:hover {
  color: #ff4d4d;
}
