.folderCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.folderCard:hover {
  background-color: #f9f9f9;
}

.topRight {
  position: absolute;
  top: 8px;
  right: 8px;
}

.deleteButton {
  background: transparent;
  border: none;
  color: #ff4d4d;
  font-size: 16px;
  cursor: pointer;
}

.deleteButton:hover {
  color: #d93636;
}

.folderName {
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
}
