.formCard {
  background: rgb(82, 82, 82);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 180px;
  height: 230px;
  cursor: pointer;
  transition: background 0.3s ease, border 0.3s ease;
  font-family: 'poppins', sans-serif;
}

.formCard:hover {
  background: rgb(65, 64, 64);
}

.formName {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color, #fff);
  text-align: center;
  font-family: 'poppins', sans-serif;
}

.topRight {
  position: absolute;
  top: 5px;
  right: 5px;
}

.deleteButton {
  background: transparent;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
  line-height: 1;
}

.deleteButton:hover {
  color: #ff4d4d;
}
