:root {
  --header-bg: #1e1e2f;
  --header-text: #ffffff;
  --dropdown-bg: #2e2e3e;
  --dropdown-text: #ffffff;
  --option-hover-bg: #444;
  --switch-bg: #ccc;
  --switch-hover-bg: #bbb;
  --switch-dark-bg: #0066ff;
  --slider-dark: #000000;
  --slider-light: #ffffff;
  --share-bg: #0066ff;
  --share-hover-bg: #004bbb;
  --share-text: white;
}

[data-theme='dark'] {
  --switch-bg: var(--switch-dark-bg);
}

[data-theme='dark'] .slider {
  background-color: var(--slider-dark);
  transform: translateX(26px);
}

[data-theme='light'] {
  --switch-bg: #ccc;
}

[data-theme='light'] .slider {
  background-color: var(--slider-light);
  transform: translateX(2px);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: var(--header-bg);
  padding: 0 20px;
  position: relative;
  font-family: 'poppins', sans-serif;
  border-bottom: 1px solid white;
  z-index: 100;
}

.workspaceContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid var(--header-text);
  border-radius: 8px;
  padding: 15px;
}

.workspaceName {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--header-text);
}

.arrow {
  margin-left: 5px;
  font-size: 12px;
}

.dropdown {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--dropdown-bg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 150px;
  z-index: 10000;
  text-align: left;
}

.option {
  padding: 10px;
  cursor: pointer;
  color: var(--dropdown-text);
}

.option.logout {
  color: red;
}

.option:hover {
  background-color: var(--option-hover-bg);
}

.actions {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 40px;
}

.themeToggle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.label {
  font-size: 14px;
  color: var(--header-text);
}

.switch {
  width: 50px;
  height: 24px;
  background-color: var(--switch-bg);
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch:hover {
  background-color: var(--switch-hover-bg);
}

.slider {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--slider-light);
  position: absolute;
  top: 1px;
  left: 2px;
  transition: all 0.3s;
}

.shareButton {
  background-color: var(--share-bg);
  color: var(--share-text);
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.shareButton:hover {
  background-color: var(--share-hover-bg);
}
